.center {
    margin: auto;
    text-align: center;
}

.profile-image {
    width: 200px;
    border-radius: 112px;
    margin-bottom: 8px;
}

.center-text {
    text-align: center;
}

.profile-text {
    margin-bottom: 2px;
}

.logo {
    width: 22px;
    margin: 3px;
    margin-top: 12px;
    vertical-align: middle;
}

.name {
    font-size: 60px;
    padding: 12px 12px 0px 12px;
}

.intro {
    padding-bottom: 40px;
}

.socials {
    margin-bottom: 22px;
}

.media-row {
    margin-bottom: 150px;
}

@media (min-width: 992px) {
    .index-full-width-content {
        margin-left: 15%;
        margin-right: 15%;
    }
}

.btn-resume {
    color: white;
    background: linear-gradient(to right,#56ab2f, #a8e063);
    border-radius: 16px; 
    font-size: 14px; 
    font-weight: bold; 
    padding: 8px 20px; 
    border: 0px;
}

.btn-resume:hover {
    color: white;
    background: linear-gradient(to right,#3f7b23, #89b356);
}

.btn-resume:active {
    background: linear-gradient(to right,#3f7b23, #89b356) !important;
    border: 2px;
    border-color: pink;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}  
