.container {
    padding-right: 30px;
    padding-left: 30px;
}

.center {
    margin: auto;
    text-align: center;
}

.profile-image {
    width: 200px;
    border-radius: 112px;
    margin-bottom: 8px;
}

.center-text {
    text-align: center;
}

.profile-text {
    margin-bottom: 2px;
}

.logo {
    width: 22px;
    margin: 3px;
    vertical-align: middle;
}

/* Offset to align with mail logo */
.logo.github, .logo.linkedin {
    margin-top: 0px;
}

.name {
    font-size: 60px;
    padding: 12px 12px 0px 12px;
}

.intro {
    padding-bottom: 40px;
}

.socials {
    margin-bottom: 22px;
}

@media (min-width: 992px) {
    .text-content {
        margin-left: 15%;
        margin-right: 15%;
    }
}

.btn-repo, .btn-repo:hover {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(75,75,75,1) 100%);
}

.btn-repo:active {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(75,75,75,1) 100%) !important;
}

.btn-union, .btn-union:hover, .btn-union:active {
    background: linear-gradient(90deg, rgba(130,36,51,1) 0%, rgba(214,108,125,1) 100%) !important;
}

.btn-repo, .btn-union {
    color: white;
    border-radius: 16px; 
    font-size: 14px; 
    font-weight: bold; 
    padding: 8px 20px;
    border: 0px;
    transition: 1.0s;
}

.btn-repo:hover, .btn-union:hover {
    color: #dadada;
}

.btn-resume {
    color: white;
    background: linear-gradient(to right,#56ab2f, #a8e063);
    border-radius: 16px; 
    font-size: 14px; 
    font-weight: bold; 
    padding: 8px 20px;
    border: 0px;
    transition: 1.0s;
}

.btn-resume:hover {
    color: white;
    background: linear-gradient(to right,#3f7b23, #89b356);
}

.btn-resume:active {
    background: linear-gradient(to right,#3f7b23, #89b356) !important;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}  

.btn-google-doc {
    color: white;
    background: linear-gradient(to right, #396afc, #2948ff);
    border-radius: 16px; 
    font-size: 14px; 
    font-weight: bold; 
    padding: 8px 20px;
    border: 0px;
}

.docs-logo {
    width: 16px;
    margin-right: 4px;
}

.btn-google-doc:hover {
    color: white;
    background: linear-gradient(to right, #033be2, #0022e6);
}

.btn-google-doc:active {
    background: linear-gradient(to right, #033be2, #0022e6) !important;
}

.home-page-content {
    margin-bottom: 150px;
}

.writeup-photo {
    margin: 16px;
}

@media (max-width: 575px)
{
    .writeup-photo, .robot-photo {
        width: 90%;
        margin: 10px;
    }
}

.poster-photo {
    width: 70%;
}

.nba-analytics-photo {
    margin-bottom: 0px;
}

.cpp-logo {
    width: 20px;
    margin-right: 4px;
}

.newsletter-date {
    margin-bottom: 15px;
    margin-top: 30px;
}

.focuses {
    margin-bottom: 36px;
}

.project-writeup{
    margin-bottom: 45px;
}

.project-date {
    margin-bottom: 20px;
}

.robot-photo {
    width: 500px;
}

/* PASSIONS PAGE */

.passion {
    width: 992px;
    padding: 30px;
    display: flex;
}

/* Passion writeups that are needed for mobile display are hidden by default */
.passion-writeup.mobile-display {
    display: none;
}

/* Allows for overlap of photos on FontAwesome icons */
.passion-display {
    position: relative;
    width: 450px;
}

.passion-right {
    margin-left: auto;
    margin-right: 0;
}

/* Setting section height based on photo heights */
.passion-coffee .passion-display {
    height: 375px;
}

.passion-soccer .passion-display {
    height: 500px;
}

.passion-social-justice .passion-display {
    height: 550px;
}

/* Styling of FontAwesome icons */
.passion .fas {
    color:#343a40;
    opacity: 0.8;
    font-size: 200px;
}

.passion .photo {
    width: 300px;
    position: absolute;
}

/* Setting up overlays of photos over FontAwesome icons */
.passion-left .photo {
    top: 150px;
    left: 100px;
}

.passion-right .photo {
    top: 150px;
    right: 100px;
}

.passion-right .passion-display {
    text-align: right;
}

/* Allows passion display and writeup to appear directly to the side of each other */
.passion-display, .passion-writeup {
    flex: 1;
}

.passion-title {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 30px;
}

.passion-writeup p {
    text-align: justify;
}

/* Mobile compatibility for passions page */
@media (max-width: 992px) {
    .passion {
        width: 100%;
        padding: 30px;
        display: block;
    }

    .passion-display {
        width: 100%;
    }

    /* Show mobile display of passion writeup, hide desktop display */
    .passion-writeup.mobile-display {
        display: block;
    }

    .passion-writeup.desktop-display {
        display: none;
    }

    /* Adjustment of photo sizes and offsets from FontAwesome icons */
    .passion .photo {
        width: 250px;
    }

    .passion-left .photo {
        top: 100px;
        left: 50px;
    }

    .passion-right .photo {
        top: 100px;
        right: 50px;
    }

    /* Adjustment of spaces between images and writeups */
    .passion-coffee .passion-display {
        height: 315px;
    }

    .passion-soccer .passion-display {
        height: 400px;
    }

    .passion-social-justice .passion-display {
        height: 450px;
    }
}
